<div>
<a class="btn btn-primary btn-xs viewMore" data-toggle="collapse" aria-expanded="false" aria-controls="userfiltereol" role="button" href="#userfiltereol"> </a>
<div class="collapse" id="userfiltereol">
<p><code>UserFilter</code> is one of building blocks for Quality Gates. It is one of the SubmitRule filters that determines whether a change qualifies for submission or not. SubmitRule with matching filters (or with no filters at all) are evaluated for submission.
</p>
<p><code>UserFilter</code> has been deprecated in TeamForge 20.0. It is set to be removed completely in TeamForge 20.1. For more information, see <a href="http://docs.collab.net/teamforge200/userfilterremoval.html">UserFilter Removal</a>.</p>
</div>
</div>