<div>
<a class="btn btn-primary btn-xs viewMore" data-toggle="collapse" aria-expanded="false" aria-controls="eventqeol" role="button" href="#eventqeol"> </a>
<div class="collapse" id="eventqeol">
<p>Some of the EventQ related features such as the Activity Stream, EventQ based reports, and the Include Traceability check box (on the add/edit project tool page) have already been disabled in TeamForge 19.0 and later by default, however, with an option to enable them again if required.
</p>
<p>TeamForge's native Webhooks-based Event Broker replaces EventQ as the default event broker to support integrations with tools such as Jenkins, Jira and TestLink and hence EventQ is no longer supported in TeamForge 20.0 and later.</p>
</div>
</div>