Back up all your custom event handlers and remove all the event handler JAR files before starting your TeamForge {{site.data.identifiers.teamforge}} upgrade process. 

      1. Go to **My Workspace > Admin**.
      2. Click **System Tools** from the **Projects** menu.
      3. Click **Customizations**.
      4. Select the custom event handler and click **Delete**.

    {% include important.html content="Post upgrade, you can add custom event handlers again from the backup while making sure that you don't have SOAP50 (deprecated) library used." %}