<!-- Artifact artf419470 : Document the adding of latest license during migration from earlier release to latest CTF21.1 -->
<div class="panel panel-info">
<div class="panel-heading">Before You Begin—Generate New TeamForge License</div>
<div class="panel-body" markdown="1">
TeamForge has a new licensing framework starting from TeamForge 21.1. If you are upgrading from TeamForge 21.0 or earlier to TeamForge 21.1 or later, you must get the new TeamForge license and add it to your site before upgrading to TeamForge 21.1 or later. [Contact Digital.ai Support](http://www.collab.net/support/secure-customer-login) to get the new TeamForge license for your site before you run the `teamforge provision` command. The `teamforge provision` command fails otherwise. 
</div>
</div>