     {% capture associationnote2 %}
     {% include inline_image.html file="status-success-small.png" %} When an association is added to or removed from TeamForge objects such as tracker artifacts, tasks, documents, discussions, and file releases, a notification mail is sent to users monitoring these objects. <br><br>
     {% include inline_image.html file="status-success-small.png" %} An option is provided at site level and user level to make sure whether the notification mail has to be sent or not. For more information on this, see [Configure your Site's Settings][siteadmin-configuresiteviaui].
     {% endcapture %}
     {% include callout.html type="primary" content=associationnote2 %}