## Post Install Tasks

* [Supply Your TeamForge License Key][teamforgelicense]
* [Run TeamForge in SELinux `enabled` Mode][setupselinux]
<!-- * [Install EventQ Integration Adapters][eventq_adapters] -->
<!-- * [Run ETL Initial Load Jobs][etl_client_py] -->
<!-- https://forge.collab.net/sf/go/artf304542#3 -->
* Integrate [Jenkins][teamforge-jenkins-integration], [JIRA][teamforge-jira-integration], and [TestLink][teamforge-testlink-integration] using the TeamForge Webhooks-based Event Broker
* [Users are not getting email notifications for review requests and reviews. What should I do?][reviewboard-faqs.html#rbemailsettings]
<!-- * [Custom schema registration fails for the Binary application on sites without EventQ. What should I do?][binaries-faqs.html#binariescustomschema] -->
* [Review Board deployment fails on sites that use a self-signed certificate. What should I do?][reviewboard-faqs.html#cert-verification-cfg]



#### Also See...
[FAQs on Install / Upgrade / Administration][installupgradeadmin-faqs]
