## Post Upgrade Tasks

* [Run TeamForge in SELinux `enabled` Mode][setupselinux]
<!-- * [Add EventQ to Existing Projects][add_eventq_to_projects_py] -->
<!-- * [Run ETL Initial Load Jobs][etl_client_py] -->
<!-- https://forge.collab.net/sf/go/artf304542#3 -->
* [Users are not getting email notifications for review requests and reviews. What should I do?][reviewboard-faqs.html#rbemailsettings]
* Integrate [Jenkins][teamforge-jenkins-integration], [JIRA][teamforge-jira-integration], and [TestLink][teamforge-testlink-integration] using the TeamForge Webhooks-based Event Broker   



#### Also See...
* [FAQs on Install / Upgrade / Administration][installupgradeadmin-faqs]