{{site.data.alerts.hr_shaded}}
## Post Upgrade Tasks

* [Run TeamForge in SELinux `enabled` Mode][setupselinux]
<!-- * [Add EventQ to Existing Projects][add_eventq_to_projects_py] -->
<!-- * [Run ETL Initial Load Jobs][etl_client_py] -->
* [Run the update_artifact_textflex_carriage_return.py Script][update_artifact_textflex_carriage_return_py]
<!-- https://forge.collab.net/sf/go/artf304542#3 -->
* [Users are not getting email notifications for review requests and reviews. What should I do?][reviewboard-faqs.html#rbemailsettings]
* [Review Board deployment fails on sites that use a self-signed certificate. What should I do?][reviewboard-faqs.html#cert-verification-cfg]
* Integrate [Jenkins][teamforge-jenkins-integration], [JIRA][teamforge-jira-integration], and [TestLink][teamforge-testlink-integration] using WEBR

#### Also See...
* [FAQs on Install / Upgrade / Administration][installupgradeadmin-faqs]
* [TeamForge upgrade fails when migrating Baseline database to the latest schema. What should I do?][installupgradeadmin-faqs.html#ctf190upgradeerror]