   Verify TeamForge upgrade.
       1. Reboot the server and make sure all services come up automatically at startup.
       2. Log on to the TeamForge web application using the default Admin credentials.
          * Username: `admin`
          * Password: `admin`
       3. If your site has custom branding, verify that your branding changes still work as intended. See [Customize TeamForge][customize].
       4. Let your site's users know they've been upgraded. See [Create a Site-wide Broadcast][siteadmin-createsitewidebroadcast].

